.page-content {
    padding: 32px;
}

.ant-card {
    margin-bottom: 16px;
}

.ant-btn-primary {
    background-color: darkturquoise;
    border-color: darkturquoise;
    margin: 16px 32px 16px 0px;
}

.ant-btn-red {
    background-color: crimson;
    border-color: crimson;
    margin: 16px 32px 16px 0px;
}